# GitLab runner settings (Práctica 4)
# Copia este fichero como `.env.gitlab-runner` y ajusta valores.

GITLAB_URL=https://gitlab.com
GITLAB_REGISTRATION_TOKEN=<gitlab_registration_token>
GITLAB_RUNNER_NAME=local-gitlab-runner
GITLAB_RUNNER_TAGS=local,docker
GITLAB_DOCKER_IMAGE=docker:27
